{% extends 'layout.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}Профиль {{ user.username }}{% endblock %}

{% block head %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=2cd83a35-c897-420f-a9c7-57d29dfadc83&lang=ru_RU"
        type="text/javascript"></script>
{% endblock %}


{% block content %}
<div class="container">&nbsp
    <div class="row">
        <div class="col-sm-5">
            <div class="media">
                {% get_social_accounts user as accounts %}
                {% if accounts %}
                <img src="{{user.socialaccount_set.all.0.get_avatar_url}}{{access_token}}" width="240"
                     alt="Фотография профиля"
                     class="rounded-circle account-img">
                {% else %}
                <img src="https://twirpz.files.wordpress.com/2015/06/twitter-avi-gender-balanced-figure.png?w=640" width="250"
                     alt="Фотография профиля"
                     class="rounded-circle account-img">
                {% endif %}
            </div>
            <h1><strong>{{ user.username }}</strong></h1>
            <h4 class="text-secondary"><i>{{ user.first_name }} {{ user.last_name }}</i></h4>
        </div>
        <div class="col-sm-5">
            <h1>Добавить воспоминание</h1>
            <form id="memoryForm">
                <div class="form-group">
                    <label for="Title1">Заголовок</label>
                    <input type="text" class="form-control" id="Title1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="Textarea1">Описание</label>
                    <textarea class="form-control" id="Textarea1" rows="3"></textarea>
                    <small id="emailHelp" class="form-text text-muted">Расскажите подробней про то событие.</small>
                </div>
                <div id="map" style="width: 400px; height: 400px"></div>
                <button type="button" onclick="postMemory()" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
        </form>
    </div>
</div>
</div>
<script>

</script>
<script>
    const username = "{{ user.username|safe }}";
    const csrftoken = '{{ csrf_token }}';

    function postMemory() {
        let title = document.querySelector('#Title1').value
        let text = document.querySelector('#Textarea1').value

        if (title === "") {
            alert('Поле заголовка пустое.')
            return 0
        }

        if (text === "") {
            alert('Поле текста пустое.')
            return 0
        }

        if (!(latitude | longitude)) {
            alert('Вы не указали отметку на карте.')
            return 0
        }
        const headers = new Headers({
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        });
        return this.fetch("{{ object.get_absolute_url }}{% url 'memory-list' %}", {
            method: 'POST',
            headers,
            credentials: 'include',
            body: JSON.stringify({
                title: title,
                text: text,
                longitude: longitude,
                latitude: latitude,
            })
        }).then(
            window.location.href = "{{ object.get_absolute_url }}{% url 'homepage' %}"
        );
    }
</script>
<script type="text/javascript">
    ymaps.ready(init);
    let longitude = NaN
    let latitude = NaN

    function init() {
        var myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 4
        });
        myPlacemark = new ymaps.Placemark([55.907228, 31.260503], {
            // Чтобы балун и хинт открывались на метке, необходимо задать ей определенные свойства.
            balloonContentHeader: "Балун метки",
            balloonContentBody: "Содержимое <em>балуна</em> метки",
            balloonContentFooter: "Подвал",
            hintContent: "Хинт метки"
        });
        myMap.events.add('click', function (e) {
            [longitude, latitude] = e.get('coords');
            myPlacemark = new ymaps.Placemark([longitude, latitude], {
                hintContent: "Метка"
            });
            myMap.geoObjects.removeAll()
            myMap.geoObjects.add(myPlacemark);
        });
    }
</script>
{% endblock %}